<div class="justify-content-center m-5" style="min-height: 55vh;">
  <!-- Crear tabla para las ordenes -->

  <h1 class="text-center">Historial de ordenes</h1>
    <div *ngIf="ordersLength === 0" class="container-fluid">
      <div class="alert alert-info" role="alert">
        No tienes ordenes registradas
      </div>
    </div>
  <div *ngIf="ordersLength > 0">
  <table class="mt-5 table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Orden No.</th>
        <th scope="col">Fecha de creacion</th>
        <th scope="col">Fecha de entrega</th>
        <th scope="col">Total</th>
        <th scope="col">Estado</th>
        <th scope="col" >Ver estado y detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders |async; let index = index">
        <th scope="row">{{index+1}}</th>
        <td>{{order.order_date | date: "dd/MM/yyyy"}}</td>
        <td>{{order.delivery_date | date: "dd/MM/yyyy"}}</td>
        <td>{{order.total | currency}}</td>
        <td>{{order.status}}</td>
        <td>
          <a [routerLink]="['/order', order.order_id]" class="btn btn-primary">Ver detalles</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
