<p>
  main-page-slider works!
</p>

<!-- <div id="mainPageSlider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let slide of slides; let i = index" data-target="#mainPageSlider" [attr.data-slide-to]="i"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
      <img class="d-block w-50" [src]="slide.src" alt="Imagen de slider">
    </div>
  </div>
  <a class="carousel-control-prev" href="#mainPageSlider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#mainPageSlider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div> -->
