<nav class="navbar bg-info">
  <div class="container">
    <div class="row align-items-center">
      <div class="col mr-5 pr-5">
        <a class="navbar-brand" href="/">
          <img src="assets/shorket_logo.png" alt="Logo" width="120" height="80" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="col ml-5 pl-5 mr-5 pr-5 d-inline-block">

          <h5>
            C.P.: {{codigoPostal}}
          </h5>

      </div>
      <div class="col">
        <form (submit)="search()" role="search" class="d-flex justify-content-center" style="width:30vw">
          <div class="input-group">
            <input [(ngModel)]="searchTerm" type="search" name="searchTerm" class="form-control" placeholder="Busca los mejores productos..." aria-label="Search">
            <button type="submit" class="btn btn-light">Buscar</button>
            <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
        </form>
      </div>
      <div class="col" style="margin-left:5%">
        <div class="dropdown">
          <button type="button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-light" style="width:200px">
            <i class="bi bi-list"></i>
            Ver opciones del sitio
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="user!==null"><a class="dropdown-item" [routerLink]="['/order-history']" routerLinkActive="router-link-active" >Historial de compras</a></li>
            <li *ngIf="user!==null"><a class="dropdown-item" [routerLink]="['/addresses']" routerLinkActive="router-link-active" >Mis direcciones</a></li>
            <li *ngIf="user!==null"><a class="dropdown-item" [routerLink]="['/wish-list']" routerLinkActive="router-link-active">Lista de deseados</a></li>
            <li *ngIf="user===null"><a class="dropdown-item" >Inicia sesion para ver las opciones que tenemos para ti</a></li>
          </ul>
        </div>
      </div>
      <div class="col d-inline-block" style="width: 300px;">
        <button type="button" class="btn btn-light" routerLink="/cart">
          <i class="bi bi-cart4"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li *ngIf="user===null" class="nav-item">
          <a href="/login" class="nav-link">Iniciar sesion</a>
        </li>
        <li *ngIf="user!==null" class="nav-item">
          <a  (click)="logout()" href="/" class="nav-link">Cerrar sesion</a>
        </li>
        <li class="nav-item">
          <a href="/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
          <a href="/promotions" class="nav-link">Promociones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
