<footer class="bd-footer py-3 py-md-4 mt-5 bg-info">
  <div class="container py-3 py-md-5 px-4 px-md-3 text-body-info">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <h5>Shortek</h5>
        <ul class="list-unstyled">
          <li class="bi bi-people-fill"><a href="#" class="text-body-info"> Acerca de nosotros</a></li>
          <li class="bi bi-phone"><a href="#" class="text-body-info"> Contacto</a></li>
          <li class="bi bi-question-lg"><a href="#" class="text-body-info"> Preguntas frecuentes</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h5>Redes sociales</h5>
        <ul class="list-unstyled">
          <li class="bi bi-facebook"><a href="#" class="text-body-info"> Facebook</a></li>
          <li class="bi bi-instagram"><a href="#" class="text-body-info"> Instagram</a></li>
          <li class="bi bi-twitter"><a href="#" class="text-body-info"> Twitter</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-body-info">Terminos y condiciones</a></li>
          <li><a href="#" class="text-body-info">Politicas de privacidad</a></li>
          <li><a href="#" class="text-body-info">Politicas de cookies</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
