<div class="container mt-5">
  <div class="card bg-info bg-opacity-75 text-bg-primary">
    <div class="card-header">
      <h4 class="cart-title">Métodos de pago</h4>
    </div>
    <div class="card-body ">
      <div class="form-check d-flex align-items-center">
        <input class="form-check input" type="radio" name="paymentMethod" id="creditCard" value="creditCard" checked style="margin-right:0.5rem">
        <label class="form-check-label" for="creditCard">
          <span class="bi bi-credit-card-fill"></span>
          Tarjeta de credito/débito VISA - MASTERCARD
        </label>
      </div>
    </div>
  </div>
</div>

<div class="container justify-content-center d-flex">
  <button class="btn btn-warning mt-3">Proceder al pago</button>
</div>
