<div class="mt-5 mb-3">
  <div class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-2 text-center bg-light">
          <img class="card-img-top art-rec-img" src="assets/artrec-1.jpg" alt="">
          <div class="card-body">
            <h5 class="card-text">
              Artículo recomendado
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-2 text-center bg-light">
          <img class="card-img-top art-rec-img" src="assets/artrec-2.jpg" alt="">
          <div class="card-body">
            <h5 class="card-text">
              Artículo recomendado
            </h5>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-center text-center mt-3">
    <h3>
      Artículos recomendados
    </h3>
  </div>
</div>
