<div class="mt-5 mb-3">
  <div class="d-flex justify-content-center align-items-center">
    <div *ngIf="suggestedProducts.length > 0" class="row">
      <div *ngFor="let product of suggestedProducts" class="col-md-6">
        <div class="card mb-2 text-center bg-light">
          <a [routerLink]="['/category',product.category_id,'products']" [queryParams]="{product_id: product.product_id}">
          <img class="card-img-top art-rec-img" [src]="product.image" alt="">
          <div class="card-body">
            <h5 class="card-text">
              {{product.name}}
            </h5>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center text-center mt-3">
    <h3>
      Artículos recomendados
    </h3>
  </div>
</div>
